<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.MemBaseinfoMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="memResultMap" type="com.indo.core.pojo.bo.MemBaseInfoBO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="account" property="account"/>
        <result column="acc_type" property="accType"/>
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
        <result column="head_image" property="headImage"/>
        <result column="password" property="password"/>
        <result column="password_md5" property="passwordMd5"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="face_book" property="faceBook"/>
        <result column="whats_app" property="whatsApp"/>
        <result column="mem_level" property="memLevel"/>
        <result column="total_deposit" property="totalDeposit"/>
        <result column="total_enchashment" property="totalEnchashment"/>
        <result column="total_bet" property="totalBet"/>
        <result column="balance" property="balance"/>
        <result column="can_amount" property="canAmount"/>
        <result column="register_source" property="registerSource"/>
        <result column="register_ip" property="registerIp"/>
        <result column="client_ip" property="clientIp"/>
        <result column="status" property="status"/>
        <result column="prohibit_login" property="prohibitLogin"/>
        <result column="prohibit_invite" property="prohibitInvite"/>
        <result column="prohibit_investment" property="prohibitInvestment"/>
        <result column="prohibit_disbursement" property="prohibitDisbursement"/>
        <result column="prohibit_recharge" property="prohibitRecharge"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="first_recharge_time" property="firstRechargeTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="mem_Column_List">
        id, account, acc_type, nick_name, real_name,
        head_image, password, password_md5, security_code, birthday, phone,
        email, face_book, whats_app, mem_level, total_deposit, total_enchashment,
        total_bet, balance, can_amount, deposit_num, take_cash_num, register_source,
        register_ip, client_ip, token, status, prohibit_login, prohibit_invite,
        prohibit_investment, prohibit_disbursement, prohibit_recharge, first_recharge_time,
        last_login_time, device_code, create_user,update_user,create_time,update_time, remark
    </sql>

    <select id="queryList" resultType="com.indo.admin.pojo.vo.mem.MemBaseInfoVo">
        SELECT
        mb.id,
        mb.account,
        mb.acc_type AS accType,
        mb.mem_level AS memLevel,
        mb.phone,
        mb.email,
        mb.face_book AS faceBook,
        mb.whats_app AS whatsApp,
        mb.balance,
        mb.total_deposit AS totalDeposit,
        mb.total_enchashment AS totalEnchashment,
        mb.total_bet AS totalBet,
        mb.deposit_num AS depositNum,
        mb.take_cash_num AS takeCashNum,
        mb.`status`,
        mb.register_source AS registerSource,
        mb.prohibit_login AS prohibitLogin,
        mb.prohibit_invite AS prohibitInvite,
        mb.prohibit_investment AS prohibitInvestment,
        mb.prohibit_disbursement AS prohibitDisbursement,
        mb.prohibit_recharge AS prohibitRecharge,
        mb.first_recharge_time AS firstRechargeTime,
        mb.last_login_time AS lastLoginTime,
        mb.create_time AS createTime,
        mic.invite_code AS inviteCode,
        ar.team_num AS teamNum
        FROM
        mem_baseinfo mb
        LEFT JOIN mem_invite_code mic ON mb.id = mic.mem_id
        LEFT JOIN agent_relation ar ON mb.id = ar.mem_id

        <where>
            <if test="dto.account !=null and dto.account != '' ">
                and mb.account = #{dto.account}
            </if>
            <if test="dto.memLevel !=null">
                and mb.mem_level = #{dto.memLevel}
            </if>
            <if test="dto.status !=null">
                and mb.status = #{dto.status}
            </if>
            <if test="dto.realName !=null and dto.realName !=''">
                and mb.real_name like concat('%', #{dto.realName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="dto.inviteCode !=null and dto.inviteCode !=''">
                and mb.invite_code = #{dto.inviteCode}
            </if>
            <if test="dto.startTime != null and dto.startTime != ''">
                and date_format(mb.create_time,'%y%m%d') &gt;= date_format(#{dto.startTime},'%y%m%d')
            </if>
            <if test="dto.endTime != null and dto.endTime != ''">
                and date_format(mb.create_time,'%y%m%d') &lt;= date_format(#{dto.endTime},'%y%m%d')
            </if>
        </where>
        ORDER BY mb.create_time desc
    </select>


    <select id="findIdListByCreateTime" resultType="java.lang.Long">
        SELECT id
        FROM mem_baseinfo
        where DATE_FORMART(create_time, "%Y-%m-%d") = #{date}
    </select>

    <select id="findMemBaseInfoByAccount" resultType="com.indo.core.pojo.bo.MemBaseInfoBO">
        select
        <include refid="mem_Column_List"/>
        from mem_baseinfo mb
        where mb.account = #{account}
    </select>


</mapper>
