<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.MemBanRebateMapper">
  <resultMap id="BaseResultMap" type="com.indo.core.pojo.entity.MemBanRebate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mem_id" jdbcType="INTEGER" property="memId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="Base_Column_List">
    id, mem_id, create_time, update_time, is_del, remark
  </sql>

  <select id="selectMemBanRebate" resultType="com.indo.user.pojo.vo.MemBanRebateVo">
    select
    t1.id, t1.mem_id, t1.create_time, t1.update_time, t1.is_del, t1.remark,
    t2.account, t2.real_name, t2.nick_name, t2.invite_code, t2.create_time as reg_time ,
	(select account FROM mem_baseinfo where id = (select t3.up_mem_id FROM mem_invite t3 where t3.mem_id = t2.id)) as up_account
    from mem_ban_rebate t1
    left join mem_baseinfo t2 on t1.mem_id = t2.id
    where t1.is_del = 0
    <if test="dto.levelId != null "> and t2.level_id = #{dto.levelId}</if>
    <if test="dto.ids != null and dto.ids.size()>0">
      t1.id in
      <foreach collection="dto.ids" item="valueList" open="(" close=")" separator=",">
        #{valueList}
      </foreach>
    </if>
    ORDER BY t1.create_time desc
  </select>

</mapper>