<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.MemBankMapper">

    <select id="queryList" resultType="com.indo.admin.pojo.vo.mem.MemBankVO">
        SELECT * FROM mem_bank mb
        where 1=1
        <if test="req.keyword !=null and req.keyword !=''">
            <if test="req.bankCategoryEnum == @com.indo.common.enums.BankCategoryEnum@MEM_ACCOUNT">
                and mb.account = #{req.keyword}
            </if>
            <if test="req.bankCategoryEnum == @com.indo.common.enums.BankCategoryEnum@BANK_CAED_NO">
                and mb.bank_card_no like concat('%', #{req.keyword,jdbcType=VARCHAR}, '%')
            </if>
            <if test="req.bankCategoryEnum == @com.indo.common.enums.BankCategoryEnum@CITY">
                and mb.city like concat('%', #{req.keyword,jdbcType=VARCHAR}, '%')
            </if>
            <if test="req.bankCategoryEnum == @com.indo.common.enums.BankCategoryEnum@BANK_NAME">
                and mb.bank_name like concat('%', #{req.keyword,jdbcType=VARCHAR}, '%')
            </if>
        </if>

        <if test="req.startTime != null ">
            and mb.create_time &gt;= #{req.startTime}
        </if>
        <if test="req.endTime != null ">
            and mb.create_time &lt;= #{req.endTime}
        </if>

        ORDER BY mb.create_time desc
    </select>
    <select id="findMemberReport" resultType="com.indo.admin.pojo.vo.mem.MemReportVo">
        SELECT
        c.datelist as dataTime,
        (SELECT COUNT(1) FROM mem_baseinfo WHERE acc_type=1 )as memTotalNum,
        COUNT(mb.id)as memNewlyNum,
        COUNT(pfr.first_recharge_id)as memRechargeNum,
        COUNT(pr.recharge_id)as depositPersons,
        SUM(pr.real_amount)as depositAmount,
        SUM(ptc.actual_amount)as withdrawalAmount,
        SUM(gt.bet_amount)as bettingAmount,
        SUM(gt.winning_amount)as prizeAmount,
        SUM(mgc.amount) as activityAmount
        FROM calendar c
        LEFT JOIN mem_baseinfo mb on DATE_FORMAT(mb.create_time,'%Y-%m-%d')=c.datelist and mb.acc_type=1
        LEFT JOIN pay_first_recharge pfr on DATE_FORMAT(pfr.create_time,'%Y-%m-%d')=c.datelist
        LEFT JOIN pay_recharge pr on DATE_FORMAT(pr.create_time,'%Y-%m-%d')=c.datelist and pr.order_status=2
        LEFT JOIN pay_take_cash ptc on  DATE_FORMAT(ptc.create_time,'%Y-%m-%d')=c.datelist
        LEFT JOIN game_txns gt on DATE_FORMAT(gt.create_time,'%Y-%m-%d')=c.datelist
        LEFT JOIN mem_gold_change mgc on DATE_FORMAT(mgc.create_time,'%Y-%m-%d')=c.datelist and mgc.change_type>300 and mgc.change_type &lt;400
        WHERE 1=1
        and c.datelist &gt;=#{dto.beginTime}
        and c.datelist &lt;=#{dto.endTime}
        GROUP BY c.datelist
        ORDER BY c.datelist DESC
    </select>
</mapper>
