<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.MemCapitalMapper">


    <select id="capitalList" resultType="com.indo.admin.pojo.vo.mem.MemTradingVO">
        SELECT
        mgc.mem_id AS memId,
        mgc.account AS account,
        mgc.amount AS amount,
        mgc.before_amount AS beforeAmount,
        mgc.after_amount AS afterAmount,
        mgc.ref_no AS refNo,
        mgc.serial_no AS serialNo,
        mgc.create_time
        FROM
        mem_gold_change mgc
        where 1=1
        <if test="dto.refNo !=null and dto.refNo != '' ">
            and mgc.ref_no = #{dto.refNo}
        </if>
        <if test="dto.memId !=null">
            and mgc.mem_id = #{dto.memId}
        </if>
        <if test="dto.changeTypes !=null and changeTypes.size() > 0 ">
            and mgc.change_type in
            <foreach collection="dto.changeTypes" item="type" index="index"
                     open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="dto.startTime != null and dto.startTime != ''">
            and create_time &gt;= #{dto.startTime}
        </if>
        <if test="dto.endTime != null and dto.endTime != ''">
            and create_time &lt;= #{dto.endTime}
        </if>
        ORDER BY mgc.create_time desc
    </select>

</mapper>
