<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.job.mapper.GameTxnsMapper">

    <select id="beforeDayBetList" resultType="com.indo.job.pojo.dto.BeforeDayBetDTO">
        SELECT
        ar.parent_id as parentId,
        mb.mem_level as memLevel,
        mb.real_name as realName,
        ar.superior as superior,
        ar.team_num as teamNum,
        gt.user_id AS account,
        SUM(ABS(gt.real_bet_amount)) AS realBetAmount
        FROM
        game_txns gt
        INNER JOIN  mem_baseinfo mb on  gt.user_id = mb.account
        LEFT JOIN agent_relation ar ON ar.sub_user_ids like CONCAT('%',mb.id,'%')
        where 1=1
        and gt.create_time &gt;= #{startTime}
        and gt.create_time &lt;= #{endTime}
        and ar.parent_id is not null
        and ar.parent_id !=0
        GROUP BY account,memLevel,realName,superior,teamNum,parentId

    </select>


    <select id="teamSumBet" parameterType="String" resultType="java.math.BigDecimal">
        SELECT
        SUM(gt.real_bet_amount) AS realBetAmount
        FROM
        game_txns gt
        LEFT JOIN agent_relation ar ON gt.user_id = ar.account
        WHERE
        ar.superior = #{account}
        AND TO_DAYS(NOW()) - TO_DAYS(gt.create_time)  &lt; 1

    </select>

</mapper>
