<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.AgentPendingRebateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.admin.pojo.vo.agent.AgentPendingRebateVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="mem_id" property="memId"/>
        <result column="mem_level" property="memLevel"/>
        <result column="mem_real_name" property="memRealName"/>
        <result column="superior" property="superior"/>
        <result column="team_num" property="teamNum"/>
        <result column="team_bets" property="teamBets"/>
        <result column="yesterday_remain" property="yesterdayRemain"/>
        <result column="rebate_amount" property="rebateAmount"/>
        <result column="status" property="status"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time
        ,
        update_time,
        id, mem_id, mem_level, mem_real_name, superior, team_num, team_bets, yesterday_remain, rebate_amount, status
    </sql>


    <select id="queryList" resultMap="BaseResultMap">
        SELECT * FROM mem_pending_rebate m
        where m.status = 0
        <where>
            <if test="dto.memId !=null">
                and m.mem_id = #{dto.memId}
            </if>
            <if test="dto.startTime != null and dto.startTime != ''">
                and m.create_time &gt;= #{dto.startTime}
            </if>
            <if test="dto.endTime != null and dto.endTime != ''">
                and m.create_time &lt; #{dto.endTime}
            </if>
        </where>
        ORDER BY m.create_time desc
    </select>
</mapper>
