<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.user.mapper.MemAgentApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.user.pojo.entity.MemAgentApply">
        <id column="agent_apply_id" property="agentApplyId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="mem_id" property="memId"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="reject_reason" property="rejectReason"/>
        <result column="operate_user" property="operateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        agent_apply_id, mem_id, mobile, status, reject_reason, operate_user
    </sql>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT * FROM mem_agent_apply ma
        where ma.status = 0
        <if test="req.memId !=null">
            and ma.memId = #{req.memId}
        </if>
        <if test="req.memAgentId !=null">
            and ma.agent_id = #{req.memAgentId}
        </if>
        ORDER BY ma.create_time desc
    </select>
</mapper>
