<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.MemBaseinfoMapper">

    <select id="queryList" resultType="com.indo.admin.modules.mem.vo.MemBaseInfoVo">
        SELECT * FROM mem_baseinfo mb
        left join mem_invite_code mic
        on mb.id = mic.mem_id
        LEFT JOIN mem_agent ma
        on mb.id = ma.mem_id
        <where>
            <if test="dto.id !=null">
                and mb.id = #{dto.id}
            </if>
            <if test="dto.memLevel !=null">
                and mb.mem_level = #{dto.memLevel}
            </if>
            <if test="dto.groupId !=null">
                and mb.group_id = #{dto.groupId}
            </if>
            <if test="dto.status !=null">
                and mb.status = #{dto.status}
            </if>
            <if test="dto.realName !=null and dto.realName !=''">
                and mb.real_name like concat('%', #{dto.realName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="dto.inviteCode !=null and dto.inviteCode !=''">
                and mb.invite_code = #{dto.inviteCode}
            </if>
            <if test="dto.startTime != null and dto.startTime != ''">
                and date_format(mb.create_time,'%y%m%d') &gt;= date_format(#{dto.startTime},'%y%m%d')
            </if>
            <if test="dto.endTime != null and dto.endTime != ''">
                and date_format(mb.create_time,'%y%m%d') &lt;= date_format(#{dto.endTime},'%y%m%d')
            </if>
        </where>
        ORDER BY mb.create_time desc
    </select>


    <select id="selectIdsByAccounts" resultType="java.lang.Long">

    </select>
    <select id="selectNickNameByAccounts" resultType="java.lang.String">

    </select>

    <select id="findIdListByCreateTime" resultType="java.lang.Long">
        SELECT id FROM mem_baseinfo where
        DATE_FORMART(create_time,"%Y-%m-%d") = #{date}
    </select>
</mapper>
