<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.mem.mapper.MemGrowthPointsConfigMapper">

    <update id="updateConfig" parameterType="list">
        update mem_growth_points_config
        set  config_value =
        <foreach collection="list" item="i" index="index" separator=" "  open="case config_key" close="end">
            when #{i.configKey} then #{i.configValue}
        </foreach>
        where config_key in
        <foreach collection="list"  item="i" index="index" open="(" separator="," close=")">
            #{i.configKey}
        </foreach>
    </update>
</mapper>
