<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.pay.mapper.PayManualRechargeMapper">

    <select id="memList" resultType="com.indo.pay.pojo.vo.ManualRechargeMemVO">
        SELECT mb.id as memId,
        mb.account as account,
        mb.mem_level AS memLevel,
        mb.balance as balance,
        ma.superior as superior
        FROM mem_baseinfo mb
        LEFT JOIN agent_relation ma ON mb.id = ma.mem_id
        AND mb.`status` = 0
        <if test="account != null and account != '' ">
            where mb.account = #{account}
        </if>
        order by mb.create_time desc
    </select>


    <select id="queryList" resultType="com.indo.pay.pojo.vo.ManualRechargeRecordVO">
        SELECT
        pmr.mem_id AS memId,
        pmr.amount AS amount,
        pmr.account as account,
        pmr.befor_amount AS beforeAmount,
        pmr.after_amount AS afterAmount,
        pmr.operate_type AS operateType,
        pmr.create_user AS createUser,
        pmr.create_time AS createTime,
        pmr.remarks AS remarks
        FROM
        pay_manual_recharge pmr
        <where>
            <if test="operateType != null">
                and pmr.operate_type = #{operateType}
            </if>
            <if test="account != null and account != '' ">
                and pmr.account = #{account}
            </if>
        </where>
        order by pmr.create_time desc
    </select>


</mapper>
