<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.pay.mapper.PayRechargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.core.pojo.entity.PayRecharge">
        <id column="recharge_id" property="rechargeId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="channel_id" property="channelId"/>
        <result column="way_id" property="wayId"/>
        <result column="order_no" property="orderNo"/>
        <result column="transaction_no" property="transactionNo"/>
        <result column="user_id" property="memId"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_card_no" property="bankCardNo"/>
        <result column="channel_type" property="channelType"/>
        <result column="order_date" property="orderDate"/>
        <result column="expire_date" property="expireDate"/>
        <result column="old_amount" property="oldAmount"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="real_amount" property="realAmount"/>
        <result column="order_status" property="orderStatus"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="pay_time" property="payTime"/>
        <result column="pay_postscript" property="payPostscript"/>
        <result column="order_note" property="orderNote"/>
        <result column="operator_user" property="operatorUser"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="order_source" property="orderSource"/>
    </resultMap>


    <select id="rechargeList" resultType="com.indo.admin.pojo.vo.pay.RechargeOrderVO">
        SELECT
        a.*, (
        SELECT
        pcc.channel_name
        FROM
        pay_channel_config pcc
        WHERE
        pcc.pay_channel_id = a.channelId
        LIMIT 1
        ) AS channelName,
        (
        SELECT
        pwc.way_name
        FROM
        pay_way_config pwc
        WHERE
        pwc.pay_way_id = a.wayId
        LIMIT 1
        ) AS wayName
        FROM
        (
        SELECT
        pro.recharge_id AS rechargeId,
        pro.order_no AS orderNo,
        mb.id AS memId,
        mb.account AS account,
        mb.mem_level AS memLevel,
        pro.real_amount AS realAmount,
        pro.channel_id AS channelId,
        pro.way_id AS wayId,
        pro.pay_time AS payTime
        FROM
        pay_recharge pro
        INNER JOIN mem_baseinfo mb ON pro.mem_id = mb.id
        ) a
        where 1=1
        <if test="req.payChannelId != null ">
            and a.channelId = #{req.payChannelId}
        </if>
        <if test="req.payWayId != null ">
            and a.wayId = #{req.payWayId}
        </if>
        <if test="req.orderNo != null ">
            and a.orderNo = #{req.orderNo}
        </if>
        <if test="req.memId != null ">
            and a.memId = #{req.memId}
        </if>
        <if test="req.beginAmount != null ">
            and a.realAmount &gt;= #{req.beginAmount}
        </if>
        <if test="req.endAmount ">
            and a.realAmount &lt;= #{req.endAmount}
        </if>
        <if test="req.beginTime != null">
            and a.payTime &gt;= #{req.beginTime}
        </if>
        <if test="req.endTime != null ">
            and a.payTime &lt;= #{req.endTime}
        </if>

    </select>


</mapper>
