<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.act.mapper.ActivityTypeMapper">


  <update id="updateMaxActNum">
    update act_activity_type set act_num = act_num + 1 where act_type_id = #{actTypeId}
  </update>
</mapper>
