<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.msg.mapper.MsgPushRecordMapper">

    <resultMap id="SysPushRecordVo"  type="com.indo.admin.pojo.vo.MsgPushRecordVO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="device_type" property="deviceType" />
        <result column="is_del" property="isDel" />
        <result column="create_user" property="createUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="queryList" resultMap="SysPushRecordVo">
        SELECT *
        FROM msg_push_record
        <where>
            <if test="dto.deviceType !=null">
                and device_type = #{dto.deviceType}
            </if>
            <if test="dto.beginTime != null and dto.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{dto.beginTime},'%y%m%d')
            </if>
            <if test="dto.endTime != null and dto.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{dto.endTime},'%y%m%d')
            </if>
        </where>
        ORDER BY create_time desc
    </select>
</mapper>
