<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.stat.mapper.StatUserRetentionMapper">

    <select id="queryList" resultType="com.indo.admin.modules.stat.vo.UserRetentionVo">
        SELECT
        s.new_users as newUsers,
        s.next_day as nextDay,
        s.three_day as threeDay,
        s.sevev_day as sevevDay,
        s.thirty_day as thirtyDay,
        s.create_time as currentDate
        FROM stat_user_retention s
        <where>
            <if test="req.startTime != null ">
                and s.create_time &gt;= #{req.startTime}
            </if>
            <if test="req.endTime != null">
                and s.create_time &lt;= #{req.endTime}
            </if>
        </where>
        ORDER BY s.create_time desc
    </select>
</mapper>
