<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.stat.mapper.StatAgentReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.admin.pojo.entity.StatAgentReport">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="date" property="date"/>
        <result column="new_agents" property="newAgents"/>
        <result column="bet_amount" property="betAmount"/>
        <result column="rebate_amount" property="rebateAmount"/>
        <result column="rebate_withdraw_amount" property="rebateWithdrawAmount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, date, new_agents, bet_amount, rebate_amount, rebate_withdraw_amount
    </sql>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT * FROM stat_agent_report sdb
        <where>
            <if test="req.startTime != null and req.startTime != ''">
                and sdb.date &gt;= #{req.startTime}
            </if>
            <if test="req.endTime != null and req.endTime != ''">
                and sdb.date &lt;= #{req.endTime}
            </if>
        </where>
        ORDER BY sdb.create_time desc
    </select>
</mapper>
