<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.user.mapper.AgentRebateRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.core.pojo.vo.agent.AgentRebateRecordVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="mem_id" property="memId"/>
        <result column="mem_level" property="memLevel"/>
        <result column="mem_real_name" property="realName"/>
        <result column="yesterday_remain" property="yesterdayRemain"/>
        <result column="rebate_amount" property="rebateAmount"/>
        <result column="total_bet" property="totalBet"/>
        <result column="create_user" property="createUser"/>
    </resultMap>


    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        m.*,
        mb.total_bet
        FROM
        agent_rebate_record m
        LEFT JOIN mem_baseinfo mb ON m.mem_id = mb.id
        <if test="req.account !=null and req.account != ''">
            and m.account = #{req.account}
        </if>
        ORDER BY m.create_time desc
    </select>
</mapper>
