<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.user.mapper.MemAgentMapper">

    <select id="subordinateList" resultType="com.indo.admin.pojo.vo.agent.AgentSubVO">
        SELECT
        mb.id AS memId,
        mb.account AS account,
        mb.mem_level AS memLevel,
        mb.real_name AS realName,
        mb.acc_type AS accType,
        mb.total_deposit AS totalDeposit,
        mb.total_enchashment AS totalEnchashment,
        mb.total_bet AS totalBet,
        mb.create_time AS registerTime,
        ma.agent_id AS agent_id,
        ma.superior AS superior,
        ma.team_num AS teamNum
        FROM
        mem_agent ma
        INNER JOIN mem_baseinfo mb ON ma.mem_id = mb.id
        AND ma.is_del = 1
        <if test="req.account !=null">
            and ma.account = #{req.account}
        </if>
        ORDER BY
        ma.create_time DESC
    </select>
</mapper>
