<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.user.mapper.MemBaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.core.pojo.entity.MemBaseinfo">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="real_name" property="realName"/>
        <result column="nick_name" property="nickName"/>
        <result column="accountNo" property="account"/>
        <result column="password" property="password"/>
        <result column="password_md5" property="passwordMd5"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="face_book" property="faceBook"/>
        <result column="whats_app" property="whatsApp"/>
        <result column="mem_level" property="memLevel"/>
        <result column="acc_type" property="accType"/>
        <result column="total_deposit" property="totalDeposit"/>
        <result column="total_enchashment" property="totalEnchashment"/>
        <result column="balance" property="balance"/>
        <result column="register_source" property="registerSource"/>
        <result column="register_ip" property="registerIp"/>
        <result column="client_ip" property="clientIp"/>
        <result column="status" property="status"/>
        <result column="prohibit_login" property="prohibitLogin"/>
        <result column="prohibit_invite" property="prohibitInvite"/>
        <result column="prohibit_investment" property="prohibitInvestment"/>
        <result column="prohibit_disbursement" property="prohibitDisbursement"/>
        <result column="prohibit_recharge" property="prohibitRecharge"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time
        ,
        update_time,
        id, real_name, nick_name, accountNo, salt, password, password_md5, phone, email, face_book, whats_app, invite_code, group_id, mem_level, acc_type, total_deposit, total_enchashment, balance, register_source, register_ip, client_ip, status, prohibit_login, prohibit_invite, prohibit_investment, prohibit_disbursement, prohibit_recharge, remark, create_user, last_login_time, update_user
    </sql>


    <select id="tradingInfo" resultType="com.indo.user.pojo.bo.MemTradingBO">
        select mb.id                as id,
               mb.account           as account,
               mb.nick_name         as nickName,
               mb.mem_level         as memLevel,
               mb.balance           as balance,
               mb.can_amount        as canAmount,
               mb.total_deposit     as totalDeposit,
               mb.total_enchashment as totalEnchashment,
               mb.total_bet         as totalBet
        from mem_baseinfo mb
        where mb.account = #{account}
    </select>



    <!-- 通用查询映射结果 -->
    <resultMap id="memResultMap" type="com.indo.core.pojo.bo.MemBaseInfoBO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="account" property="account" />
        <result column="acc_type" property="accType" />
        <result column="nick_name" property="nickName" />
        <result column="real_name" property="realName" />
        <result column="head_image" property="headImage" />
        <result column="password" property="password" />
        <result column="password_md5" property="passwordMd5" />
        <result column="birthday" property="birthday" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="face_book" property="faceBook" />
        <result column="whats_app" property="whatsApp" />
        <result column="mem_level" property="memLevel" />
        <result column="total_deposit" property="totalDeposit" />
        <result column="total_enchashment" property="totalEnchashment" />
        <result column="total_bet" property="totalBet" />
        <result column="balance" property="balance" />
        <result column="can_amount" property="canAmount" />
        <result column="register_source" property="registerSource" />
        <result column="register_ip" property="registerIp" />
        <result column="client_ip" property="clientIp" />
        <result column="status" property="status" />
        <result column="prohibit_login" property="prohibitLogin" />
        <result column="prohibit_invite" property="prohibitInvite" />
        <result column="prohibit_investment" property="prohibitInvestment" />
        <result column="prohibit_disbursement" property="prohibitDisbursement" />
        <result column="prohibit_recharge" property="prohibitRecharge" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="mem_Column_List">
        create_time,
        update_time,
        id, account, acc_type, nick_name, real_name, head_image, password,
        password_md5, birthday, phone, email, face_book, whats_app, mem_level,
        total_deposit, total_enchashment, total_bet, balance, can_amount, register_source,
        register_ip, client_ip, status, prohibit_login, prohibit_invite, prohibit_investment,
        prohibit_disbursement, prohibit_recharge, last_login_time, create_user, update_user, remark
    </sql>




    <select id="findMemBaseInfoByAccount" resultType="com.indo.core.pojo.bo.MemBaseInfoBO">
        selec
        <include refid="mem_Column_List"/>
        from mem_baseinfo mb
        where mb.account = #{account}
    </select>



</mapper>
