<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.core.mapper.MemGoldChangeMapper">

    <update id="updateMemberAmount">
        <![CDATA[
        UPDATE mem_baseinfo m
        SET m.balance           = (
            CASE
                WHEN m.balance + #{balance} < 0 THEN
                    0
                WHEN m.balance + #{balance} >= 0 THEN
                    m.balance + #{balance}
                END
            ),
            m.can_amount        = (
                CASE
                    WHEN m.can_amount + #{canAmount} > 0 THEN
                        m.can_amount + #{canAmount}
                    WHEN m.can_amount + #{canAmount} <= 0 THEN
                        0
                    END
                ),
            m.total_bet         = (
                CASE
                    WHEN m.total_bet + #{betAmount} > 0 THEN
                        m.total_bet + #{betAmount}
                    WHEN m.total_bet + #{betAmount} <= 0 THEN
                        0
                    END
                ),
            m.total_deposit     = (
                CASE
                    WHEN m.total_deposit + #{rechargeAmount} > 0 THEN
                        m.total_deposit + #{rechargeAmount}
                    WHEN m.total_deposit + #{rechargeAmount} <= 0 THEN
                        0
                    END
                ),
            m.total_enchashment = (
                CASE
                    WHEN m.total_enchashment + #{cashAmount} > 0 THEN
                        m.total_enchashment + #{cashAmount}
                    WHEN m.total_enchashment + #{cashAmount} <= 0 THEN
                        0
                    END
                )
        WHERE m.id = #{memId}
        ]]>
    </update>


</mapper>
