<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.core.mapper.MemTradingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.core.pojo.entity.MemGoldChange">
        <id column="gold_changId _id" property="goldChangId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="refId" property="refId"/>
        <result column="serial_no" property="serialNo"/>
        <result column="user_id" property="userId"/>
        <result column="change_type" property="changeType"/>
        <result column="trading_type" property="tradingType"/>
        <result column="before_amount" property="beforeAmount"/>
        <result column="after_amount" property="afterAmount"/>
        <result column="amount" property="amount"/>
        <result column="before_code_amount" property="beforeCodeAmount"/>
        <result column="after_code_amount" property="afterCodeAmount"/>
        <result column="op_note" property="opNote"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time
        ,
        update_time,
        gold_changId _id, refId, serial_no, user_id, change_type, trading_type, before_amount, after_amount, amount, before_code_amount, after_code_amount, op_note, create_user, update_user
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="memResultMap" type="com.indo.core.pojo.bo.MemBaseinfoBo">
        <id column="id" property="id"/>
        <result column="real_name" property="realName"/>
        <result column="nick_name" property="nickName"/>
        <result column="accountNo" property="account"/>
        <result column="salt" property="salt"/>
        <result column="password" property="password"/>
        <result column="password_md5" property="passwordMd5"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="face_book" property="faceBook"/>
        <result column="whats_app" property="whatsApp"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="group_id" property="groupId"/>
        <result column="mem_level" property="memLevel"/>
        <result column="acc_type" property="accType"/>
        <result column="total_deposit" property="totalDeposit"/>
        <result column="total_enchashment" property="totalEnchashment"/>
        <result column="balance" property="balance"/>
        <result column="register_source" property="registerSource"/>
        <result column="register_ip" property="registerIp"/>
        <result column="client_ip" property="clientIp"/>
        <result column="status" property="status"/>
        <result column="prohibit_login" property="prohibitLogin"/>
        <result column="prohibit_invite" property="prohibitInvite"/>
        <result column="prohibit_investment" property="prohibitInvestment"/>
        <result column="prohibit_disbursement" property="prohibitDisbursement"/>
        <result column="prohibit_recharge" property="prohibitRecharge"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="mem_Column_List">
        id
        , real_name, nick_name, account salt, password, password_md5, phone, email, face_book, whats_app,
        invite_code, group_id, mem_level, acc_type, total_deposit, total_enchashment,
        balance, register_source, register_ip, client_ip, status, prohibit_login, prohibit_invite,
        prohibit_investment, prohibit_disbursement, prohibit_recharge, remark, create_user, last_login_time, update_user
    </sql>


    <select id="findMemBaseInfoById" resultMap="memResultMap">
        select
        <include refid="mem_Column_List"/>
        from mem_baseinfo mb
        where mb.id =#{memId}
    </select>

    <select id="findMemBaseInfoByAccount" resultMap="memResultMap">
        select
        <include refid="mem_Column_List"/>
        from mem_baseinfo mb
        where mb.account =#{account}
    </select>



</mapper>
