<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.core.mapper.MemTradingMapper">


    <select id="findMemGoldInfo" resultType="com.indo.core.pojo.bo.MemGoldInfoBO">
        select mb.id         as memId,
               mb.account    as account,
               mb.balance    as balance,
               mb.can_amount as canAmount
        from mem_baseinfo mb
        where mb.id = #{memId}
    </select>

</mapper>
