<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.agent.mapper.AgentRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="agentResultMap" type="com.indo.admin.pojo.vo.agent.AgentVo">
        <id column="agent_id" property="agentId"/>
        <result column="mem_id" property="memId"/>
        <result column="account" property="account"/>
        <result column="real_name" property="realName"/>
        <result column="team_num" property="teamNum"/>
        <result column="total_deposit" property="totalDeposit"/>
        <result column="total_withdraw" property="totalWithdraw"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time
        ,
        update_time,
        agent_id, mem_id, team_num, level_user_ids, parent_id,superior, is_del, remark
    </sql>

    <select id="queryList" resultMap="agentResultMap">
        SELECT * FROM agent_relation ar
        left join mem_baseinfo mb
        on ar.mem_id = mb.id
        where ar.is_del = 1
        <if test="req.memId !=null">
            and ar.mem_id = #{req.memId}
        </if>
        <if test="req.memAgentId !=null">
            and ar.agent_id = #{req.memAgentId}
        </if>
        ORDER BY ar.create_time desc
    </select>

    <select id="subordinateList" resultType="com.indo.admin.pojo.vo.agent.AgentSubVO">
        SELECT
        mb.id AS memId,
        mb.account AS account,
        mb.mem_level AS memLevel,
        mb.real_name AS realName,
        mb.acc_type AS accType,
        mb.total_deposit AS totalDeposit,
        mb.total_enchashment AS totalEnchashment,
        mb.total_bet AS totalBet,
        mb.create_time AS registerTime,
        ar.agent_id AS agent_id,
        ar.superior AS superior,
        ar.team_num AS teamNum
        FROM
        agent_relation ar
        INNER JOIN mem_baseinfo mb ON ar.mem_id = mb.id
        AND ar.is_del = 1
        -- AND ma.parent_id != 0
        <if test="req.parentId !=null">
            and ar.superior = #{req.superior}
        </if>
        ORDER BY
        ar.create_time DESC
    </select>
</mapper>
