<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.agent.mapper.AgentApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.admin.pojo.vo.agent.AgentApplyVO">
        <id column="agent_apply_id" property="agentApplyId"/>
        <result column="create_time" property="createTime"/>
        <result column="mem_id" property="memId"/>
        <result column="account" property="account"/>
        <result column="status" property="status"/>
        <result column="reject_reason" property="rejectReason"/>
    </resultMap>


    <select id="queryList" resultMap="BaseResultMap">
        SELECT * FROM agent_apply aa
        where aa.status = 0
        <if test="req.account !=null and req.account !=''">
            and aa.account = #{req.account}
        </if>
        ORDER BY aa.create_time desc
    </select>
</mapper>
