<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.agent.mapper.AgentRebateRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.core.pojo.vo.agent.AgentRebateRecordVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="mem_id" property="memId"/>
        <result column="mem_level" property="memLevel"/>
        <result column="real_name" property="realName"/>
        <result column="superior" property="superior"/>
        <result column="rebate_amout" property="rebateAmout"/>
        <result column="team_num" property="teamNum"/>
        <result column="team_amout" property="teamAmout"/>
        <result column="create_user" property="createUser"/>
        <result column="level" property="level"/>
        <result column="account" property="account"/>
    </resultMap>


    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        m.*,
        (SELECT level FROM mem_level ml WHERE ml.id=m.mem_level) as level
        FROM agent_rebate_record m
        <where>
            <if test="req.account !=null and req.account != ''">
                and m.account = #{req.account}
            </if>
            <if test="req.startTime != null and req.startTime != ''">
                and m.create_time &gt;= #{req.startTime}
            </if>
            <if test="req.endTime != null and req.endTime != ''">
                and m.create_time &lt; #{req.endTime}
            </if>
        </where>
        ORDER BY m.create_time desc
    </select>
</mapper>
