<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.live.admin.modules.pay.mapper.PayChannelConfigMapper">

    <select id="queryList" resultType="com.live.pay.pojo.vo.PayChannelConfigVO">
        SELECT
            t.pay_channel_id,
            t.channel_name,
            t.channel_desc,
            t.channe_type,
            t.pay_url,
            t.is_del,
            t.remark,
            t.sort_by,
            t.create_user,
            t.update_user,
            t.create_time,
            t.update_time
        FROM
            pay_channel_config t
        ORDER BY t.sort_by desc
    </select>

    <select id="querySingle" resultType="com.live.pay.pojo.vo.PayChannelConfigVO">
        SELECT
            t.t.pay_channel_id,
            t.channel_name,
            t.channel_desc,
            t.channe_type,
            t.pay_url,
            t.is_del,
            t.remark,
            t.sort_by,
            t.create_user,
            t.update_user,
            t.create_time,
            t.update_time
        FROM
            pay_channel_config t
        where pay_channel_id = #{dto.payChannelId}
    </select>

    <insert id="insertPayChannel">
        INSERT INTO pay_channel_config (
            channel_name,
            channel_desc,
            channe_type,
            pay_url,
            is_del,
            remark,
            sort_by,
            create_user,
            update_user,
            create_time,
            update_time)
        VALUES
            (
             #{channelName},
             #{channelDesc},
             #{channeType},
             #{payUrl},
             #{isDel},
             #{remark},
             #{sortBy},
             #{createUser},
             #{updateUser},
             now(),
             now()
            )
    </insert>

    <update id="updatePayChannel">
        update pay_channel_config
        set
            channel_name = #{channelName},
            channel_desc = #{channelDesc},
            channe_type = #{channeType},
            pay_url = #{payUrl},
            is_del = #{isDel},
            remark = #{remark},
            sort_by = #{sortBy},
            update_user = #{updateUser},
            update_time = now()
        where pay_channel_id = #{payChannelId}
    </update>

    <update id="deletePayChannel">
        delete from pay_channel_config
        where pay_channel_id = #{payChannelId}
    </update>

    <update id="stopStartPayChannel">
        update pay_channel_config
        set
            is_del = #{isDel},
            update_user = #{updateUser},
            update_time = now()
        where pay_channel_id = #{payChannelId}
    </update>

</mapper>