<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.live.admin.modules.pay.mapper.PayGroupConfigMapper">

    <select id="queryList" resultType="com.live.pay.pojo.vo.PayGroupConfigVO">
        SELECT
            pay_group_id,
            group_name,
            group_val,
            single_max_amount,
            today_max_amount,
            single_cash_max_amount,
            today_cash_max_amount,
            today_cash_max_num,
            today_max_not_pay,
            remark,
            is_del,
            create_user,
            update_user,
            create_time,
            update_time
        FROM
            pay_group_config t
        ORDER BY t.create_time desc
    </select>

    <select id="querySingle" resultType="com.live.pay.pojo.vo.PayGroupConfigVO">
        SELECT
            pay_group_id,
            group_name,
            group_val,
            single_max_amount,
            today_max_amount,
            single_cash_max_amount,
            today_cash_max_amount,
            today_cash_max_num,
            today_max_not_pay,
            remark,
            is_del,
            create_user,
            update_user,
            create_time,
            update_time
        FROM
            pay_group_config t
        where pay_group_id = #{dto.payGroupId}
    </select>

    <insert id="insertPayGroup">
        INSERT INTO pay_group_config (
            group_name,
            group_val,
            single_max_amount,
            today_max_amount,
            single_cash_max_amount,
            today_cash_max_amount,
            today_cash_max_num,
            today_max_not_pay,
            remark,
            is_del,
            create_user,
            update_user,
            create_time,
            update_time)
        VALUES
            (
             #{groupName},
             #{groupVal},
             #{singleMaxAmount},
             #{todayMaxAmount},
             #{singleCashMaxAmount},
             #{todayCashMaxAmount},
             #{todayCashMaxNum},
             #{todayMaxNotPay},
             #{remark},
             #{isDel},
             #{createUser},
             #{updateUser},
             now(),
             now()
            )
    </insert>

    <update id="updatePayGroup">
        update pay_group_config
        set
            group_name = #{groupName},
            group_val = #{groupVal},
            single_max_amount = #{singleMaxAmount},
            today_max_amount = #{todayMaxAmount},
            single_cash_max_amount = #{singleCashMaxAmount},
            today_cash_max_amount = #{todayCashMaxAmount},
            today_cash_max_num = #{todayCashMaxNum},
            today_max_not_pay = #{todayMaxNotPay},
            remark = #{remark},
            is_del = #{isDel},
            update_user = #{updateUser},
            update_time = now()
        where pay_group_id = #{payGroupId}
    </update>

    <update id="deletePayGroup">
        delete from pay_group_config
        where pay_group_id = #{payGroupId}
    </update>

    <update id="stopStartPayGroup">
        update pay_group_config
        set
            is_del = #{isDel},
            update_user = #{updateUser},
            update_time = now()
        where pay_group_id = #{payGroupId}
    </update>

    <select id="selectNameByIds" resultType="String">
        select
        group_name
        from pay_group_config
        <where>
            <if test="list != null and list.size()>0">
                pay_group_id IN
                <foreach item="item" index="index" collection="list" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>