<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.core.mapper.game.TxnsMapper">
    <select id="queryAllGameInfoCount" resultType="com.indo.core.pojo.vo.game.app.GameStatiRecord">
        SELECT count(t.id) AS betCount,
               SUM(t.bet_amount) AS betAmount,
               SUM(t.winning_amount) AS winningAmount,t.platform
        FROM game_txns t
        WHERE
         t.user_id = #{req.userAcct} and t.method = 'Settle' and t.status = 'Running'
        <if test='req.platform != null and req.platform.size()>0'>
             and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
             and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
             and t.create_time &gt;= #{req.startTime}
        </if>
         GROUP BY t.platform
    </select>
    <select id="queryAllGameInfo" resultType="com.indo.core.pojo.vo.game.app.GameInfoRecord">
        SELECT t.platform_en_name,
        t.game_name,
        t.bet_amount,t.winning_amount
        FROM game_txns t
        WHERE
        t.user_id = #{req.userAcct} and t.method = 'Settle' and t.status = 'Running'
        <if test='req.platform != null and req.platform.size()>0'>
            and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
            and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
            and t.create_time &gt;= #{req.startTime}
        </if>
        <choose>
            <when test="req.orderBy">
                order by t.create_time asc
            </when>
            <otherwise>
                order by t.create_time desc
            </otherwise>
        </choose>
    </select>
    <select id="getMaxSortNo" resultType="java.lang.String">
        SELECT MAX(t.sort_no)
        FROM game_txns t
        WHERE
            t.platform = #{platform}
    </select>
    <select id="queryAllAgentGameInfo" resultType="com.indo.core.pojo.vo.game.app.GameInfoAgentRecord">
        SELECT t.platform_en_name,m.account as user_acct,
        t.game_name,
        t.bet_amount,t.winning_amount,a.account as account,t.round_id,t.bet_time,t.odds,t.method,t.balance,t.platform_tx_id
        FROM game_txns t left join mem_baseinfo m on t.user_id=m.account left join agent_relation a on LOCATE(m.id,a.sub_user_ids)
        WHERE
        t.method = 'Settle' and t.status = 'Running'
        <if test='req.agentAcctList != null and req.agentAcctList.size()>0'>
            and t.platform IN
            <foreach collection='req.agentAcctList' item='agentAcct' open='(' separator=',' close=')'>
                #{agentAcct}
            </foreach>
        </if>
        <if test='req.platformTxId != null and req.platformTxId.trim() neq ""'>
            and  t.platform_tx_id = #{req.platformTxId}
        </if>
        <if test='req.platform != null and req.platform.size()>0'>
            and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
            and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
            and t.create_time &gt;= #{req.startTime}
        </if>
        <choose>
            <when test="req.orderBy">
                order by t.create_time asc
            </when>
            <otherwise>
                order by t.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="queryAgentRelation" resultType="com.indo.core.pojo.entity.AgentRelation">
    select * from (SELECT t1.*,if(FIND_IN_SET(parent_id,@pids)>0,@pids := CONCAT(@pids,',',mem_id),0)as ischild
    from(select *from agent_relation t order by t.parent_id,t.mem_id)t1,(select @pids := #{userId})t2

    )t3 where ischild !=0
    </select>
    <select id="queryAgentRelationByUserId" resultType="com.indo.core.pojo.entity.AgentRelation">
        select * from (SELECT t1.*,if(FIND_IN_SET(parent_id,@pids)>0,@pids := CONCAT(@pids,',',mem_id),0)as ischild
                       from(select *from agent_relation t order by t.parent_id,t.mem_id)t1,(select @pids := #{userId})t2

                      )t3 where ischild !=0 and mem_id = #{agentAcct}
    </select>
    <insert id="batchInsertGameTxns" parameterType="java.util.List">
        INSERT INTO game_txns(
        platform_tx_id,
        user_id,
        currency,
        platform,
        platform_en_name,
        platform_cn_name,
        game_type,
        game_code,
        game_name,
        bet_type,
        bet_amount,
        bet_time,
        round_id,
        game_info,
        update_time,
        real_bet_amount,
        real_win_amount,
        odds,
        win_amount,
        turnover,
        result_type,
        odds_type,
        tx_time,
        refund_platform_tx_id,
        re_platform_tx_id,
        settle_type,
        void_type,
        winning_amount,
        require_amount,
        amount,
        promotion_tx_id,
        promotion_id,
        promotion_type_id,
        tip,
        tipinfo,
        `status`,
        game_method,
        `method`,
        balance,
        category_id,
        category_name,
        create_time,
        bet,
        sort_no,
        bet_ip,
        agent_id,
        group_comm,
        mp_id,
        bet_way,
        report_date,
        has_bonus_game,
        has_gamble,
        room_type
        ) VALUE
        <foreach collection="list" item="item" separator=",">
            (#{item.platformTxId},
            #{item.userId},
            #{item.currency},
            #{item.platform},
            #{item.platformEnName},
            #{item.platformCnName},
            #{item.gameType},
            #{item.gameCode},
            #{item.gameName},
            #{item.betType},
            #{item.betAmount},
            #{item.betTime},
            #{item.roundId},
            #{item.gameInfo},
            #{item.updateTime},
            #{item.realBetAmount},
            #{item.realWinAmount},
            #{item.odds},
            #{item.winAmount},
            #{item.turnover},
            #{item.resultType},
            #{item.oddsType},
            #{item.txTime},
            #{item.refundPlatformTxId},
            #{item.rePlatformTxId},
            #{item.settleType},
            #{item.voidType},
            #{item.winningAmount},
            #{item.requireAmount},
            #{item.amount},
            #{item.promotionTxId},
            #{item.promotionId},
            #{item.promotionTypeId},
            #{item.tip},
            #{item.tipinfo},
            #{item.status},
            #{item.gameMethod},
            #{item.method},
            #{item.balance},
            #{item.categoryId},
            #{item.categoryName},
            #{item.createTime},
            #{item.bet},
            #{item.sortNo},
            #{item.betIp},
            #{item.agentId},
            #{item.groupComm},
            #{item.mpId},
            #{item.betWay},
            #{item.reportDate},
            #{item.hasBonusGame},
            #{item.hasGamble},
            #{item.roomType}
            )
        </foreach>
    </insert>
    <update id="batchupdateGameTxns" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update game_txns
            <set>
                platform_tx_id=#${item.platformTxId},
                user_id=#${item.userId},
                currency=#${item.currency},
                platform=#${item.platform},
                platform_en_name=#${item.platformEnName},
                platform_cn_name=#${item.platformCnName},
                game_type=#${item.gameType},
                game_code=#${item.gameCode},
                game_name=#${item.gameName},
                bet_type=#${item.betType},
                bet_amount=#${item.betAmount},
                bet_time=#${item.betTime},
                round_id=#${item.roundId},
                update_time=#${item.updateTime},
                real_bet_amount=#${item.realBetAmount},
                real_win_amount=#${item.realWinAmount},
                odds=#${item.odds},
                win_amount=#${item.winAmount},
                turnover=#${item.turnover},
                result_type=#${item.resultType},
                odds_type=#${item.oddsType},
                tx_time=#${item.txTime},
                refund_platform_tx_id=#${item.refundPlatformTxId},
                re_platform_tx_id=#${item.rePlatformTxId},
                settle_type=#${item.settleType},
                void_type=#${item.voidType},
                winning_amount=#${item.winningAmount},
                require_amount=#${item.requireAmount},
                amount=#${item.amount},
                promotion_tx_id=#${item.promotionTxId},
                promotion_id=#${item.promotionId},
                promotion_type_id=#${item.promotionTypeId},
                tip=#${item.tip},
                tipinfo=#${item.tipinfo},
                `status`=#${item.status},
                game_method=#${item.gameMethod},
                `method`=#${item.method},
                balance=#${item.balance},
                category_id=#${item.categoryId},
                category_name=#${item.categoryName},
                create_time=#${item.createTime},
                bet=#${item.bet},
                sort_no=#${item.sortNo},
                bet_ip=#${item.betIp},
                agent_id=#${item.agentId},
                group_comm=#${item.groupComm},
                mp_id=#${item.mpId},
                bet_way=#${item.betWay},
                report_date=#${item.reportDate},
                has_bonus_game=#${item.hasBonusGame},
                has_gamble=#${item.hasGamble},
                room_type=#${item.roomType}
            </set>
            where id = #${item.id}
        </foreach>
    </update>
</mapper>