<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.core.mapper.game.GamePlatformMapper">
    <select id="queryAllGamePlatform" resultType="com.indo.core.pojo.vo.game.app.GamePlatformRecord">
        SELECT t.id,
        t.category_id,
        t.platform_code as platform_game_code,
        t.platform_en_name as platform_game_en_name,
        t.platform_cn_name as platform_game_cn_name,
        t.picture_path as game_picture_path,
        t.volatility,
        t.is_start,
        t.is_hot_show,
        t.parent_name,
        m.is_virtual,
        m.platform_code,
        m.platform_en_name,
        m.platform_cn_name,
        m.picture_path
        FROM game_platform t left join game_parent_platform m on t.parent_name=m.platform_code
        WHERE t.is_start='1' and m.is_start='1' order by t.sort_number asc
    </select>
</mapper>