<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.core.mapper.game.TxnsMapper">
    <select id="queryAllGameInfoCount" resultType="com.indo.core.pojo.vo.game.app.GameStatiRecord">
        SELECT count(t.id) AS betCount,
               SUM(t.bet_amount) AS betAmount,
               SUM(t.winning_amount) AS winningAmount,t.platform
        FROM game_txns t
        WHERE
         t.user_id = #{req.userAcct} and t.method = 'Settle' and t.status = 'Running'
        <if test='req.platform != null and req.platform.size()>0'>
             and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
             and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
             and t.create_time &gt;= #{req.startTime}
        </if>
         GROUP BY t.platform
    </select>
    <select id="queryAllGameInfo" resultType="com.indo.core.pojo.vo.game.app.GameInfoRecord">
        SELECT t.platform_en_name,
        t.game_name,
        t.bet_amount,t.winning_amount
        FROM game_txns t
        WHERE
        t.user_id = #{req.userAcct} and t.method = 'Settle' and t.status = 'Running'
        <if test='req.platform != null and req.platform.size()>0'>
            and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
            and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
            and t.create_time &gt;= #{req.startTime}
        </if>
        <choose>
            <when test="req.orderBy">
                order by t.create_time asc
            </when>
            <otherwise>
                order by t.create_time desc
            </otherwise>
        </choose>
    </select>
    <select id="getMaxSortNo" resultType="java.lang.String">
        SELECT MAX(t.sort_no)
        FROM game_txns t
        WHERE
            t.platform = #{platform}
    </select>
    <select id="queryAllAgentGameInfo" resultType="com.indo.core.pojo.vo.game.app.GameInfoAgentRecord">
        SELECT t.platform_en_name,m.account as user_acct,
        t.game_name,
        t.bet_amount,t.winning_amount,a.account as account,t.round_id,t.bet_time,t.odds,t.method,t.balance,t.platform_tx_id
        FROM game_txns t left join mem_baseinfo m on t.user_id=m.account left join agent_relation a on LOCATE(m.id,a.sub_user_ids)
        WHERE
        t.method = 'Settle' and t.status = 'Running'
        <if test='req.agentAcctList != null and req.agentAcctList.size()>0'>
            and t.platform IN
            <foreach collection='req.agentAcctList' item='agentAcct' open='(' separator=',' close=')'>
                #{agentAcct}
            </foreach>
        </if>
        <if test='req.platformTxId != null and req.platformTxId.trim() neq ""'>
            and  t.platform_tx_id = #{req.platformTxId}
        </if>
        <if test='req.platform != null and req.platform.size()>0'>
            and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
            and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
            and t.create_time &gt;= #{req.startTime}
        </if>
        <choose>
            <when test="req.orderBy">
                order by t.create_time asc
            </when>
            <otherwise>
                order by t.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="queryAgentRelation" resultType="com.indo.core.pojo.entity.AgentRelation">
    select * from (SELECT t1.*,if(FIND_IN_SET(parent_id,@pids)>0,@pids := CONCAT(@pids,',',mem_id),0)as ischild
    from(select *from agent_relation t order by t.parent_id,t.mem_id)t1,(select @pids := #{userId})t2

    )t3 where ischild !=0
    </select>
    <select id="queryAgentRelationByUserId" resultType="com.indo.core.pojo.entity.AgentRelation">
        select * from (SELECT t1.*,if(FIND_IN_SET(parent_id,@pids)>0,@pids := CONCAT(@pids,',',mem_id),0)as ischild
                       from(select *from agent_relation t order by t.parent_id,t.mem_id)t1,(select @pids := #{userId})t2

                      )t3 where ischild !=0 and mem_id = #{agentAcct}
    </select>
    <insert id="batchInsertGameTxns" parameterType="java.util.List">
        INSERT INTO game_txns(
        platform_tx_id,
        user_id,
        currency,
        platform,
        platform_en_name,
        platform_cn_name,
        game_type,
        game_code,
        game_name,
        bet_type,
        bet_amount,
        bet_time,
        round_id,
        game_info,
        update_time,
        real_bet_amount,
        real_win_amount,
        odds,
        win_amount,
        turnover,
        result_type,
        odds_type,
        tx_time,
        refund_platform_tx_id,
        re_platform_tx_id,
        settle_type,
        void_type,
        winning_amount,
        require_amount,
        amount,
        promotion_tx_id,
        promotion_id,
        promotion_type_id,
        tip,
        tipinfo,
        `status`,
        game_method,
        `method`,
        balance,
        category_id,
        category_name,
        create_time,
        bet,
        sort_no,
        bet_ip,
        agent_id,
        group_comm,
        mp_id,
        bet_way,
        report_date,
        has_bonus_game,
        has_gamble,
        room_type
        ) VALUE
        <foreach collection="list" item="item" separator=",">
            (#{item.platformTxId},
            #{item.userId},
            #{item.currency},
            #{item.platform},
            #{item.platformEnName},
            #{item.platformCnName},
            #{item.gameType},
            #{item.gameCode},
            #{item.gameName},
            #{item.betType},
            #{item.betAmount},
            #{item.betTime},
            #{item.roundId},
            #{item.gameInfo},
            #{item.updateTime},
            #{item.realBetAmount},
            #{item.realWinAmount},
            #{item.odds},
            #{item.winAmount},
            #{item.turnover},
            #{item.resultType},
            #{item.oddsType},
            #{item.txTime},
            #{item.refundPlatformTxId},
            #{item.rePlatformTxId},
            #{item.settleType},
            #{item.voidType},
            #{item.winningAmount},
            #{item.requireAmount},
            #{item.amount},
            #{item.promotionTxId},
            #{item.promotionId},
            #{item.promotionTypeId},
            #{item.tip},
            #{item.tipinfo},
            #{item.status},
            #{item.gameMethod},
            #{item.method},
            #{item.balance},
            #{item.categoryId},
            #{item.categoryName},
            #{item.createTime},
            #{item.bet},
            #{item.sortNo},
            #{item.betIp},
            #{item.agentId},
            #{item.groupComm},
            #{item.mpId},
            #{item.betWay},
            #{item.reportDate},
            #{item.hasBonusGame},
            #{item.hasGamble},
            #{item.roomType}
            )
        </foreach>
    </insert>
    <update id="batchupdateGameTxns" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update game_txns
                <trim prefix="set" suffixOverrides=",">

                    <if test="item.platformTxId !=null">platform_tx_id=#{item.platformTxId,jdbcType=VARCHAR},</if>
                    <if test="item.userId !=null">user_id=#{item.userId,jdbcType=VARCHAR},</if>
                    <if test="item.currency !=null">currency=#{item.currency,jdbcType=VARCHAR},</if>
                    <if test="item.platform !=null">platform=#{item.platform,jdbcType=VARCHAR},</if>
                    <if test="item.platformEnName !=null">platform_en_name=#{item.platformEnName,jdbcType=VARCHAR},</if>
                    <if test="item.platformCnName !=null">platform_cn_name=#{item.platformCnName,jdbcType=VARCHAR},</if>
                    <if test="item.gameType !=null">game_type=#{item.gameType,jdbcType=VARCHAR},</if>
                    <if test="item.gameCode !=null">game_code=#{item.gameCode,jdbcType=VARCHAR},</if>
                    <if test="item.gameName !=null">game_name=#{item.gameName,jdbcType=VARCHAR},</if>
                    <if test="item.betType !=null">bet_type=#{item.betType,jdbcType=VARCHAR},</if>
                    <if test="item.betAmount !=null">bet_amount=#{item.betAmount},</if>
                    <if test="item.betTime !=null">bet_time=#{item.betTime,jdbcType=VARCHAR},</if>
                    <if test="item.roundId !=null">round_id=#{item.roundId,jdbcType=VARCHAR},</if>
                    <if test="item.updateTime !=null">update_time=#{item.updateTime,jdbcType=VARCHAR},</if>
                    <if test="item.realBetAmount !=null">real_bet_amount=#{item.realBetAmount},</if>
                    <if test="item.realWinAmount !=null">real_win_amount=#{item.realWinAmount},</if>
                    <if test="item.odds !=null">odds=#{item.odds},</if>
                    <if test="item.winAmount !=null">win_amount=#{item.winAmount},</if>
                    <if test="item.turnover !=null">turnover=#{item.turnover},</if>
                    <if test="item.resultType !=null">result_type=#{item.resultType,jdbcType=VARCHAR},</if>
                    <if test="item.oddsType !=null">odds_type=#{item.oddsType,jdbcType=VARCHAR},</if>
                    <if test="item.txTime !=null">tx_time=#{item.txTime,jdbcType=VARCHAR},</if>
                    <if test="item.refundPlatformTxId !=null">refund_platform_tx_id=#{item.refundPlatformTxId,jdbcType=VARCHAR},</if>
                    <if test="item.rePlatformTxId !=null">re_platform_tx_id=#{item.rePlatformTxId,jdbcType=VARCHAR},</if>
                    <if test="item.settleType !=null">settle_type=#{item.settleType,jdbcType=VARCHAR},</if>
                    <if test="item.voidType !=null">void_type=#{item.voidType,jdbcType=VARCHAR},</if>
                    <if test="item.winningAmount !=null">winning_amount=#{item.winningAmount},</if>
                    <if test="item.requireAmount !=null">require_amount=#{item.requireAmount},</if>
                    <if test="item.amount !=null">amount=#{item.amount,jdbcType=VARCHAR},</if>
                    <if test="item.promotionTxId !=null">promotion_tx_id=#{item.promotionTxId,jdbcType=VARCHAR},</if>
                    <if test="item.promotionId !=null">promotion_id=#{item.promotionId,jdbcType=VARCHAR},</if>
                    <if test="item.promotionTypeId !=null">promotion_type_id=#{item.promotionTypeId,jdbcType=VARCHAR},</if>
                    <if test="item.tip !=null">tip=#{item.tip},</if>
                    <if test="item.tipinfo !=null">tipinfo=#{item.tipinfo,jdbcType=VARCHAR},</if>
                    <if test="item.status !=null">`status`=#{item.status,jdbcType=VARCHAR},</if>
                    <if test="item.gameMethod !=null">game_method=#{item.gameMethod,jdbcType=VARCHAR},</if>
                    <if test="item.method !=null">`method`=#{item.method,jdbcType=VARCHAR},</if>
                    <if test="item.balance !=null">balance=#{item.balance},</if>
                    <if test="item.categoryId !=null">category_id=#{item.categoryId},</if>
                    <if test="item.categoryName !=null">category_name=#{item.categoryName,jdbcType=VARCHAR},</if>
                    <if test="item.createTime !=null">create_time=#{item.createTime,jdbcType=VARCHAR},</if>
                    <if test="item.bet !=null">bet=#{item.bet},</if>
                    <if test="item.sortNo !=null">sort_no=#{item.sortNo,jdbcType=VARCHAR},</if>
                    <if test="item.betIp !=null">bet_ip=#{item.betIp,jdbcType=VARCHAR},</if>
                    <if test="item.agentId !=null">agent_id=#{item.agentId,jdbcType=VARCHAR},</if>
                    <if test="item.groupComm !=null">group_comm=#{item.groupComm,jdbcType=VARCHAR},</if>
                    <if test="item.mpId !=null">mp_id=#{item.mpId},</if>
                    <if test="item.betWay !=null">bet_way=#{item.betWay},</if>
                    <if test="item.reportDate !=null">report_date=#{item.reportDate,jdbcType=VARCHAR},</if>
                    <if test="item.hasBonusGame !=null">has_bonus_game=#{item.hasBonusGame},</if>
                    <if test="item.hasGamble !=null">has_gamble=#{item.hasGamble},</if>
                    <if test="item.roomType !=null">room_type=#{item.roomType}</if>
                </trim>
            where id = #{item.id}
        </foreach>
    </update>
</mapper>