<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.pay.mapper.PayChannelMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.core.pojo.entity.PayChannelConfig">
        <id column="pay_channel_id" property="payChannelId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="channel_name" property="channelName" />
        <result column="alias" property="alias" />
        <result column="channel_code" property="channelCode" />
        <result column="channel_desc" property="channelDesc" />
        <result column="merchant_no" property="merchantNo" />
        <result column="pay_url" property="payUrl" />
        <result column="notify_url" property="notifyUrl" />
        <result column="page_url" property="pageUrl" />
        <result column="secret_key" property="secretKey" />
        <result column="channel_type" property="channelType" />
        <result column="status" property="status" />
        <result column="sort_by" property="sortBy" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        pay_channel_id, channel_name, alias, channel_code, channel_desc, merchant_no, pay_url, notify_url, page_url, secret_key, channel_type, status, sort_by, create_user, update_user, remark
    </sql>


    <select id="channelList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from pay_channel_config
        where 1=1
        and `status` = 0
        order by sort_by asc
    </select>

</mapper>
