<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.pay.mapper.PayWayMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.indo.pay.pojo.entity.PayWayConfig">
        <id column="pay_way_id" property="payWayId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="pay_channel_id" property="payChannelId"/>
        <result column="way_name" property="wayName"/>
        <result column="bank_name" property="bankName"/>
        <result column="bank_account" property="bankAccount"/>
        <result column="group_id" property="groupId"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="tips" property="tips"/>
        <result column="min_amount" property="minAmount"/>
        <result column="max_amount" property="maxAmount"/>
        <result column="is_del" property="isDel"/>
        <result column="sort_by" property="sortBy"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time
        ,
        update_time,
        pay_way_id, pay_channel_id, way_name, bank_name, bank_account, group_id, audit_status, tips, min_amount, max_amount, status, sort_by, create_user, update_user, remark
    </sql>


    <select id="wayList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from pay_way_config
        where 1=1
        and `status` = 0
        order by sort_by asc
    </select>

</mapper>
