<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.indo.admin.modules.game.mapper.TxnsMapper">
    <select id="queryAllGameInfoCount" resultType="com.indo.admin.pojo.vo.game.manage.GameStatiRecord">
        SELECT count(t.id) AS betCount,
               SUM(t.bet_amount) AS betAmount,
               SUM(t.winning_amount) AS winningAmount,t.platform
        FROM game_txns t
        WHERE
         t.user_id = #{req.userAcct} and t.method = 'Settle' and t.status = 'Running'
        <if test='req.platform != null and req.platform.size()>0'>
             and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
             and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
             and t.create_time &gt;= #{req.startTime}
        </if>
         GROUP BY t.platform
    </select>
    <select id="queryAllGameInfo" resultType="com.indo.admin.pojo.vo.game.manage.GameInfoRecord">
        SELECT t.platform_en_name,m.account as user_acct,
        t.game_name,
        t.bet_amount,t.winning_amount,a.account as account,t.round_id,t.bet_time,t.odds,t.method,t.balance,t.platform_tx_id
        FROM game_txns t left join mem_baseinfo m on t.user_id=m.account left join agent_relation a on LOCATE(m.id,a.sub_user_ids)
        WHERE
         ((t.method = 'Settle' and t.status = 'Running') or (t.method = 'Place Bet' and t.status = 'Running'))
        <if test='req.userAcct != null and req.userAcct.trim() neq ""'>
            and  t.user_id = #{req.userAcct}
        </if>
        <if test='req.platformTxId != null and req.platformTxId.trim() neq ""'>
            and  t.platform_tx_id = #{req.platformTxId}
        </if>
        <if test='req.gameName != null and req.gameName.trim() neq ""'>
            and  t.game_name = #{req.gameName}
        </if>
        <if test='req.platform != null and req.platform.size()>0'>
            and t.platform IN
            <foreach collection='req.platform' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.categoryId != null and req.categoryId.size()>0'>
            and t.category_id IN
            <foreach collection='req.categoryId' item='role' open='(' separator=',' close=')'>
                #{role}
            </foreach>
        </if>
        <if test='req.endTime != null and req.endTime.trim() neq ""'>
            and t.create_time &lt;= #{req.endTime}
        </if>
        <if test='req.startTime != null and req.startTime.trim() neq ""'>
            and t.create_time &gt;= #{req.startTime}
        </if>
        <choose>
            <when test="req.orderBy">
                order by t.create_time asc
            </when>
            <otherwise>
                order by t.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="beforeDayBetList" resultType="com.indo.admin.pojo.dto.BeforeDayDTO">
        SELECT
            ar.parent_id as parentId,
            mb.mem_level as memLevel,
            mb.real_name as realName,
            ar.superior as superior,
            ar.team_num as teamNum,
            gt.user_id AS account,
            SUM(gt.real_bet_amount) AS realBetAmount
        FROM
        game_txns gt
        LEFT JOIN agent_relation ar ON gt.user_id = ar.account
        INNER JOIN  mem_baseinfo mb on  gt.user_id = mb.account
        and gt.create_time &gt;= #{startTime}
        and gt.create_time &lt;= #{endTime}
        GROUP BY account,memLevel,realName,superior,teamNum,parentId
    </select>
</mapper>